client_secrets.json.json
__pycache__/context.cpython-37.pyc
__pycache__/context.cpython-38.pyc
__pycache__/service.cpython-37.pyc
__pycache__/service.cpython-38.pyc
credentials/credentials.json
pydrive/GUI.py
.vscode
pydrive/__pycache__/service.cpython-37.pyc
pydrive/__pycache__/context.cpython-37.pyc
